* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  min-width: 100%;
  min-height: 200px;
  padding-top: 48px;
}
.mySlides img {
  width: 100%; 
  height: 200px; 
  object-fit: cover;
}

/* Fading animation */
.mySlides {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}